# API keys and secrets
.env
.env.production
.env.development
.env.test


# Dependency directory
node_modules

# Editors
.idea
.vscode 

# OS metadata
.DS_Store

# Ignore built ts files
dist/**/*

coverage/
